.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__github-calendar {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008A25;
  padding: 2rem 0;
}